Repository putto11262002/JIM-API: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

refactor
  .husky/pre-commit
  .lintstagedrc
  lerna.json
  package.json
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/controllers/staff.controller.ts
  packages/dashboard/.eslintrc.cjs
  packages/dashboard/package.json
  packages/dashboard/src/components/ui/label.tsx
  packages/dashboard/src/pages/CalendarPage.tsx
  packages/dashboard/src/pages/LoginPage.tsx
  packages/dashboard/src/pages/NotFoundPage.tsx
  packages/db/package.json
  packages/db/schema.prisma
  yarn.lock
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

fix: resolving shared package in vite
  package.json
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/prisma/client.ts
  packages/api/src/services/model-application.service.ts
  packages/api/src/services/model.service.ts
  packages/api/src/services/staff.service.ts
  packages/api/src/types/model-application.ts
  packages/api/src/types/model.ts
  packages/api/src/types/staff.ts
  packages/dashboard/src/pages/LoginPage.tsx
  packages/dashboard/src/pages/NotFoundPage.tsx
  packages/dashboard/src/router.tsx
  packages/dashboard/vite.config.ts
  packages/db/.gitignore
  packages/db/package.json
  packages/shared/package.json
  packages/shared/src/dtos/index.ts
  packages/shared/src/dtos/requests/staff.ts
  packages/shared/src/validators/staff.ts
  packages/shared/tsconfig.json
  packages/shared/tsconfig.tsbuildinfo
  prisma/migrations/20231023140902_init/migration.sql
  prisma/migrations/20231024051232_add_staff_username/migration.sql
  prisma/migrations/20231024051251_fix_staff_role_typo/migration.sql
  prisma/migrations/20231113015803_fix_staff_role_typo/migration.sql
  prisma/migrations/20231129072941_add_model/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  yarn-error.log
  yarn.lock
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

fix: api transpile to esm
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/types/app.ts
  packages/api/tsconfig.json
  packages/dashboard/.env
  packages/dashboard/package.json
  packages/dashboard/src/lib/axios.ts
  packages/db/migrations/20231023140902_init/migration.sql
  packages/db/migrations/20231024051232_add_staff_username/migration.sql
  packages/db/migrations/20231024051251_fix_staff_role_typo/migration.sql
  packages/db/migrations/20231113015803_fix_staff_role_typo/migration.sql
  packages/db/migrations/20231129072941_add_model/migration.sql
  packages/db/migrations/migration_lock.toml
  packages/shared/package.json
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

feat: implement booking service
  packages/api_v2/src/controllers/booking-controller.ts
  packages/api_v2/src/middlewares/staff-auth-middleware.ts
  packages/api_v2/src/routes/booking-router.ts
  packages/api_v2/src/routes/index.ts
  packages/api_v2/src/routes/staff-router.ts
  packages/api_v2/src/schemas/booking-schema.ts
  packages/api_v2/src/schemas/paginated-data.ts
  packages/api_v2/src/server.ts
  packages/api_v2/src/services/booking-service.ts
  packages/api_v2/src/services/model-service.ts
  packages/api_v2/src/services/staff-service.ts
  packages/api_v2/src/types/booking-type.ts
  packages/api_v2/src/types/model-type.ts
  packages/api_v2/src/types/staff-type.ts
  prisma/migrations/20240308103105_add_booking/migration.sql
  prisma/migrations/20240308132820_/migration.sql
  prisma/schema.prisma
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

feat: model application ui
  package-lock.json
  packages/api_v2/@types/multer.d.ts
  packages/api_v2/package.json
  packages/api_v2/src/controllers/model-application-controller.ts
  packages/api_v2/src/controllers/model-controller.ts
  packages/api_v2/src/controllers/staff-controller.ts
  packages/api_v2/src/middlewares/upload.ts
  packages/api_v2/src/routes/model-application-router.ts
  packages/api_v2/src/services/image-service.ts
  packages/api_v2/src/services/local-file-service.ts
  packages/api_v2/src/services/model-application-service.ts
  packages/api_v2/src/services/model-service.ts
  packages/dashboard/components.json
  packages/dashboard/package.json
  packages/dashboard/src/components/applications/ApplicationTable.tsx
  packages/dashboard/src/components/layouts/NavBar.tsx
  packages/dashboard/src/components/shared/DataTable/index.tsx
  packages/dashboard/src/components/ui/separator.tsx
  packages/dashboard/src/hooks/application/useAcceptApplication.tsx
  packages/dashboard/src/hooks/application/useArchiveApplication.tsx
  packages/dashboard/src/hooks/application/useGetApplicationById.tsx
  packages/dashboard/src/hooks/application/useGetApplications.tsx
  packages/dashboard/src/pages/AppilcationPage.tsx
  packages/dashboard/src/pages/ApplicationDetailsPage.tsx
  packages/dashboard/src/pages/ApplicationSubmissionPage.tsx
  packages/dashboard/src/router.tsx
  packages/dashboard/src/services/applications.ts
  packages/shared/package.json
  packages/shared/src/schemas/model-application-schema.ts
  packages/shared/src/schemas/model-schema.ts
  packages/shared/src/types/file-meta-data-type.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/model-application-type.ts
  packages/shared/src/types/model-type.ts
  packages/shared/src/types/pagingated-data-type.ts
  packages/shared/src/utils/zod.ts
  packages/shared/tsconfig.tsbuildinfo
  prisma/migrations/20240311062504_fix_typo/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

feat: add prisma wrapper
  .gitignore
  .nx/cache/file-map.json
  .nx/cache/lockfile.hash
  .nx/cache/nx_files.nxt
  .nx/cache/project-graph.json
  package-lock.json
  packages/database/.npmignore
  packages/database/dist/index.d.ts
  packages/database/dist/index.d.ts.map
  packages/database/index.ts
  packages/database/package.json
  packages/database/tsconfig.json
  packages/db/migrations/20231023140902_init/migration.sql
  packages/db/migrations/20231024051232_add_staff_username/migration.sql
  packages/db/migrations/20231024051251_fix_staff_role_typo/migration.sql
  packages/db/migrations/20231113015803_fix_staff_role_typo/migration.sql
  packages/db/migrations/20231129072941_add_model/migration.sql
  packages/db/migrations/migration_lock.toml
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/types/block.ts
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

remove nx cache files
  .nx/cache/file-map.json
  .nx/cache/lockfile.hash
  .nx/cache/nx_files.nxt
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
Due: yarn workspaces @jimmodel/api format

merge gitignore files
  .gitignore
  packages/api/.gitignore
  packages/dashboard/.gitignore
  packages/shared/.gitignore
Due: none

feat: sort models by appointments
  package.json
  packages/api/src/controllers/calendar.ts
  packages/shared/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

feat: add block type
  packages/api/src/controllers/block.ts
  packages/dashboard/src/components/block/create-block-dialog.tsx
  packages/dashboard/src/components/calendar/cell-dialog.tsx
  packages/dashboard/src/components/calendar/cell.tsx
  packages/dashboard/src/components/calendar/events.tsx
  packages/dashboard/src/components/calendar/index.tsx
  packages/dashboard/src/pages/calendar/index.tsx
  packages/dashboard/src/pages/calendar/utils.ts
  packages/shared/src/schemas/block.ts
  packages/shared/src/types/calendar.ts
  packages/shared/tsconfig.tsbuildinfo
  prisma/migrations/20240320153059_add_block_type/migration.sql
  prisma/schema.prisma
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

feat: staff search and filter
  packages/api/src/controllers/job.ts
  packages/dashboard/src/pages/StaffPage.tsx
  packages/dashboard/src/pages/view-job/index.tsx
  packages/shared/src/schemas/job.ts
  packages/shared/tsconfig.tsbuildinfo
  prisma/migrations/20240320163328_add_booking_note/migration.sql
  prisma/schema.prisma
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

feat: rerender calendar on event changes
  packages/dashboard/src/components/block/block-dorpdown-menu.tsx
  packages/dashboard/src/components/calendar/cell-dialog.tsx
  packages/dashboard/src/components/calendar/cell.tsx
  packages/dashboard/src/components/calendar/context.tsx
  packages/dashboard/src/components/calendar/events.tsx
  packages/dashboard/src/components/calendar/index.tsx
  packages/dashboard/src/components/job/job-dropdown-menu.tsx
  packages/dashboard/src/components/job/job-table.tsx
  packages/dashboard/src/components/job/utils.ts
  packages/dashboard/src/components/shared/page-title.tsx
  packages/dashboard/src/hooks/use-notification.tsx
  packages/dashboard/src/pages/calendar/index.tsx
  packages/dashboard/src/pages/calendar/utils.ts
  packages/dashboard/src/pages/update-job/index.tsx
  packages/dashboard/src/pages/view-job/index.tsx
  packages/dashboard/src/router.tsx
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

feat: fix eslint errors
  Dockerfile
  nginx/nginx.conf
  packages/api/Dockerfile
  packages/dashboard/Dockerfile
  packages/dashboard/package.json
  packages/dashboard/src/components/block/block-dorpdown-menu.tsx
  packages/dashboard/src/components/calendar/context.tsx
  packages/dashboard/src/components/job/job-booking-form/index.tsx
  packages/dashboard/src/components/model/experience-form.tsx
  packages/dashboard/src/components/shared/form/FormGenericField.tsx
  packages/dashboard/src/components/ui/calendar.tsx
  pnpm-lock.yaml
Due: yarn workspaces @jimmodel/api format

Create build_deploy.yml
  .github/workflows/build_deploy.yml
Due: none

Update build_deploy.yml
  .github/workflows/build_deploy.yml
Due: none

fix typo
  .github/workflows/build_deploy.yml
Due: none

feat: dockerize dasboard
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: yarn workspaces @jimmodel/api format

squash migrations
  prisma/migrations/20231023140902_init/migration.sql
  prisma/migrations/20231024051232_add_staff_username/migration.sql
  prisma/migrations/20231024051251_fix_staff_role_typo/migration.sql
  prisma/migrations/20231113015803_fix_staff_role_typo/migration.sql
  prisma/migrations/20231129072941_add_model/migration.sql
  prisma/migrations/20240108024234_add_logout/migration.sql
  prisma/migrations/20240306085648_fix_typo/migration.sql
  prisma/migrations/20240306094350_/migration.sql
  prisma/migrations/20240307055756_fix_model_fields_typo/migration.sql
  prisma/migrations/20240308074031_/migration.sql
  prisma/migrations/20240308103105_add_booking/migration.sql
  prisma/migrations/20240308132820_/migration.sql
  prisma/migrations/20240310120410_change_staff_role_enum/migration.sql
  prisma/migrations/20240311062504_fix_typo/migration.sql
  prisma/migrations/20240312084907_change_field_name/migration.sql
  prisma/migrations/20240313032827_merge_measurement_with_model/migration.sql
  prisma/migrations/20240314080725_add_job/migration.sql
  prisma/migrations/20240314084349_add_job_status/migration.sql
  prisma/migrations/20240314134523_fix_typo/migration.sql
  prisma/migrations/20240315182524_add_booking_type/migration.sql
  prisma/migrations/20240318040624_add_staff_color/migration.sql
  prisma/migrations/20240318041602_make_color_required/migration.sql
  prisma/migrations/20240318042527_add_model_nmae/migration.sql
  prisma/migrations/20240318065015_add_booking_message/migration.sql
  prisma/migrations/20240318071509_remove_booking_message/migration.sql
  prisma/migrations/20240318074049_add_block/migration.sql
  prisma/migrations/20240318095611_fix_typo/migration.sql
  prisma/migrations/20240318105726_reove_unused_fields/migration.sql
  prisma/migrations/20240320153059_add_block_type/migration.sql
  prisma/migrations/20240320163328_add_booking_note/migration.sql
  prisma/migrations/20240323185130_init_schema/migration.sql
Due: none

sync pnpm lockfile
  pnpm-lock.yaml
Due: none

Inject env config during dashboard build
  .github/workflows/build_deploy.yml
Due: none

remove docker compose file
  docker-compose.yaml
Due: none

fix: datetime fields
  packages/dashboard/src/components/block/create-block-dialog.tsx
  packages/dashboard/src/components/calendar/cell-dialog.tsx
  packages/dashboard/src/components/job/job-booking-form/index.tsx
  packages/dashboard/src/lib/constants.ts
  packages/dashboard/src/pages/add-job/index.tsx
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

add invoke deployment webhook
  .github/workflows/build_deploy.yml
Due: none

require build to pass before deploying db
  .github/workflows/build_deploy.yml
Due: none

feat: synce form section with search param to persist current section
  nginx/nginx.conf
  packages/dashboard/src/pages/add-job/index.tsx
  packages/dashboard/src/pages/update-job/index.tsx
Due: none

feat(calendar): hide archived jobs
  packages/api/src/controllers/calendar.ts
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

clean up & refactor
  packages/api/src/controllers/block.ts
  packages/api/src/controllers/job.ts
  packages/dashboard/src/components/block/block-dorpdown-menu.tsx
  packages/dashboard/src/components/calendar/cell-dialog.tsx
  packages/dashboard/src/components/job/job-action-form.tsx
  packages/dashboard/src/components/job/job-details-form.tsx
  packages/dashboard/src/pages/add-job/index.tsx
  packages/dashboard/src/pages/update-job/index.tsx
  packages/dashboard/src/pages/view-job/index.tsx
  packages/dashboard/src/services/block.ts
  packages/dashboard/src/services/job.ts
  packages/shared/package.json
  packages/shared/src/schemas/job.ts
  packages/shared/src/types/job.ts
  pnpm-lock.yaml
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

Path conditions:
  yarn workspaces @jimmodel/api lint:fix: any of: *.ts
  yarn workspaces @jimmodel/api format: any of: *.{ts,json}
  yarn workspaces @jimmodel/db prisma format: any of: *.prisma
