Repository putto11262002/JIM-API: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

.lintstagedrc:

{
    "*.ts": "yarn workspaces @jimmodel/api lint:fix",
    "*.{ts,json}": "yarn workspaces @jimmodel/api format",
    "*.prisma": "yarn workspaces @jimmodel/db prisma format"
}

fix: only push built image on main branch
  .github/workflows/build_deploy.yml
Due: none

fix: run the workflow on all branches
  .github/workflows/build_deploy.yml
Due: none

revert back to initial type
  packages/dashboard/src/components/job/job-details-form.tsx
  packages/shared/src/schemas/job.ts
  packages/shared/src/types/job.ts
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

clean up & refactor model forms
  packages/dashboard/src/components/model/address-form.tsx
  packages/dashboard/src/components/model/background-form.tsx
  packages/dashboard/src/components/model/contact-form.tsx
  packages/dashboard/src/components/model/measurement-form.tsx
  packages/dashboard/src/components/model/personal-form.tsx
  packages/dashboard/src/components/model/schema.ts
  packages/dashboard/src/components/shared/error-block.tsx
  packages/dashboard/src/components/shared/form/FormSelectField.tsx
  packages/dashboard/src/data/model-attributes.ts
  packages/dashboard/src/pages/add-model/index.tsx
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

feat: model profile page
  packages/api/src/controllers/job.ts
  packages/api/src/controllers/model-controller.ts
  packages/api/src/routes/job.ts
  packages/api/src/routes/model-router.ts
  packages/dashboard/src/components/model/media-form/index.tsx
  packages/dashboard/src/components/model/profile/address-info-tab.tsx
  packages/dashboard/src/components/model/profile/background-info-tab.tsx
  packages/dashboard/src/components/model/profile/contact-info-tab.tsx
  packages/dashboard/src/components/model/profile/jobs-info-tab.tsx
  packages/dashboard/src/components/model/profile/measurement-info-tab.tsx
  packages/dashboard/src/components/model/profile/media-tab.tsx
  packages/dashboard/src/components/model/profile/personal-info-tab.tsx
  packages/dashboard/src/components/model/profile/shared.tsx
  packages/dashboard/src/components/shared/image-gallery.tsx
  packages/dashboard/src/index.css
  packages/dashboard/src/pages/model-profile/index.tsx
  packages/dashboard/src/pages/update-model/index.tsx
  packages/dashboard/src/pages/view-model/index.tsx
  packages/dashboard/src/router.tsx
  packages/dashboard/src/services/job.ts
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

refactor model profile
  packages/dashboard/src/components/model/hooks/use-get-model-jobs.tsx
  packages/dashboard/src/components/model/hooks/use-get-model.tsx
  packages/dashboard/src/components/model/profile/address-info-tab.tsx
  packages/dashboard/src/components/model/profile/background-info-tab.tsx
  packages/dashboard/src/components/model/profile/contact-info-tab.tsx
  packages/dashboard/src/components/model/profile/jobs-info-tab.tsx
  packages/dashboard/src/components/model/profile/measurement-info-tab.tsx
  packages/dashboard/src/components/model/profile/media-tab.tsx
  packages/dashboard/src/components/model/profile/personal-info-tab.tsx
  packages/dashboard/src/pages/model-profile/index.tsx
  packages/dashboard/src/pages/update-model/index.tsx
  packages/dashboard/src/services/model.ts
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

feat: add overview section & refactor
  packages/dashboard/src/components/model/experience-table.tsx
  packages/dashboard/src/components/model/media-form.tsx
  packages/dashboard/src/components/shared/page-title.tsx
  packages/dashboard/src/hooks/model/use-get-model-jobs.tsx
  packages/dashboard/src/hooks/model/use-get-model.tsx
  packages/dashboard/src/pages/model-profile/address-info-tab.tsx
  packages/dashboard/src/pages/model-profile/background-info-tab.tsx
  packages/dashboard/src/pages/model-profile/contact-info-tab.tsx
  packages/dashboard/src/pages/model-profile/index.tsx
  packages/dashboard/src/pages/model-profile/info-block.tsx
  packages/dashboard/src/pages/model-profile/jobs-info-tab.tsx
  packages/dashboard/src/pages/model-profile/measurement-info-tab.tsx
  packages/dashboard/src/pages/model-profile/media-tab.tsx
  packages/dashboard/src/pages/model-profile/overview.tsx
  packages/dashboard/src/pages/model-profile/personal-info-tab.tsx
Due: none

refactor: update mdel page
  packages/dashboard/src/components/model/contact-form.tsx
  packages/dashboard/src/components/model/media-form.tsx
  packages/dashboard/src/hooks/model/use-add-experience.tsx
  packages/dashboard/src/hooks/model/use-add-image.tsx
  packages/dashboard/src/hooks/model/use-update-model.tsx
  packages/dashboard/src/pages/update-model/address-info-update-form.tsx
  packages/dashboard/src/pages/update-model/background-info-update-form.tsx
  packages/dashboard/src/pages/update-model/contact-info-update-form.tsx
  packages/dashboard/src/pages/update-model/experiences-update-form.tsx
  packages/dashboard/src/pages/update-model/index.tsx
  packages/dashboard/src/pages/update-model/meaaurement-info-update-form.tsx
  packages/dashboard/src/pages/update-model/model-media-update-form.tsx
  packages/dashboard/src/pages/update-model/personal-info-update-form.tsx
Due: none

feat: add pagiantion support to model job table
  packages/api/src/controllers/job.ts
  packages/dashboard/package.json
  packages/dashboard/src/components/shared/pagination.tsx
  packages/dashboard/src/components/ui/pagination.tsx
  packages/dashboard/src/hooks/model/use-get-model-jobs.tsx
  packages/dashboard/src/pages/model-profile/index.tsx
  packages/dashboard/src/pages/model-profile/jobs-info-tab.tsx
  packages/dashboard/src/pages/model-profile/media-tab.tsx
  pnpm-lock.yaml
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

refactor card & pagination
  packages/dashboard/src/pages/view-model/index.tsx
Due: none

feat: profile image support
  packages/api/src/controllers/model-controller.ts
  packages/api/src/routes/model-router.ts
  packages/dashboard/src/components/model/media-form.tsx
  packages/dashboard/src/components/shared/image-gallery.tsx
  packages/dashboard/src/hooks/model/use-get-model-images.tsx
  packages/dashboard/src/hooks/model/use-remove-image.tsx
  packages/dashboard/src/hooks/model/use-set-profile-image.tsx
  packages/dashboard/src/pages/update-model/model-media-update-form.tsx
  packages/dashboard/src/services/model.ts
  packages/shared/src/schemas/model-schema.ts
  prisma/migrations/20240331153331_add_profile/migration.sql
  prisma/schema.prisma
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

feat: add fall back placeholder for model profile image
  packages/dashboard/src/pages/model-profile/overview.tsx
  packages/dashboard/src/pages/view-model/index.tsx
Due: none

refactor job update forms
  packages/dashboard/src/components/job/job-action-form.tsx
  packages/dashboard/src/components/job/job-details-form.tsx
  packages/dashboard/src/components/job/job-model-form/index.tsx
  packages/dashboard/src/hooks/job/use-get-job.tsx
  packages/dashboard/src/hooks/job/use-update-job.tsx
  packages/dashboard/src/pages/update-job/index.tsx
  packages/dashboard/src/pages/update-job/job-action-form.tsx
  packages/dashboard/src/pages/update-job/job-booking-update-form.tsx
  packages/dashboard/src/pages/update-job/job-details-update-form.tsx
  packages/dashboard/src/pages/update-job/job-model-update-form.tsx
  packages/dashboard/src/schemas/job.ts
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

remove unused import (fix build error)
  packages/dashboard/src/pages/view-model/index.tsx
Due: none

fix typo
  .github/workflows/build_deploy.yml
Due: none

feat: add week mode view
  .github/workflows/build_deploy.yml
  packages/api/src/controllers/calendar.ts
  packages/dashboard/src/components/calendar/cell-dialog.tsx
  packages/dashboard/src/components/calendar/context.tsx
  packages/dashboard/src/components/calendar/index.tsx
  packages/dashboard/src/components/calendar/utils.ts
  packages/dashboard/src/pages/calendar/index.tsx
  packages/shared/src/types/calendar.ts
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

only deploy changes when pull request is closed
  .github/workflows/build_deploy.yml
Due: none

only run deploy when pull request closes
  .github/workflows/build_deploy.yml
Due: none

separate github workflow for build and production deployment
  .github/workflows/build.yml
  .github/workflows/build_deploy.yml
Due: none

do not run on main
  .github/workflows/build.yml
Due: none

rename workflow [skip ci]
  .github/workflows/build.yml
Due: none

feat: model profile page
  packages/api/src/controllers/model-controller.ts
  packages/api/src/lib/file-processors/image.ts
  packages/api/src/routes/model-router.ts
  packages/api/src/services/local-file-service.ts
  packages/api/src/services/model-application-service.ts
  packages/api/src/services/model-service.ts
  packages/dashboard/src/pages/model-profile/overview.tsx
  packages/dashboard/src/pages/update-model/action-form.tsx
  packages/dashboard/src/pages/update-model/index.tsx
  packages/public-web/app/_components/about-us.tsx
  packages/public-web/app/_components/index.css
  packages/public-web/app/_components/join-us.tsx
  packages/public-web/app/_components/portfolio.tsx
  packages/public-web/app/layout.tsx
  packages/public-web/app/model/[[...tags]]/model-card.tsx
  packages/public-web/app/model/[[...tags]]/model-grid.tsx
  packages/public-web/app/model/[[...tags]]/page.tsx
  packages/public-web/app/model/profile/[id]/media-tab.tsx
  packages/public-web/app/model/profile/[id]/page.tsx
  packages/public-web/app/page.tsx
  packages/public-web/components/breadcrumb.tsx
  packages/public-web/components/image-gallery.tsx
  packages/public-web/components/model-profile-image.tsx
  packages/public-web/components/ui/separator.tsx
  packages/public-web/components/ui/switch.tsx
  packages/public-web/data/model-constants.ts
  packages/public-web/data/nav-menu.ts
  packages/public-web/next.config.js
  packages/public-web/package.json
  packages/public-web/tailwind.config.ts
  packages/shared/src/schemas/model-schema.ts
  packages/shared/src/types/model-type.ts
  pnpm-lock.yaml
  prisma/migrations/20240406005253_add_tags_public/migration.sql
  prisma/migrations/20240406084808_add_width_height/migration.sql
  prisma/schema.prisma
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format, yarn workspaces @jimmodel/db prisma format

change enironment for build workflow
  .github/workflows/build.yml
Due: none

remove unused files
  packages/api/src/controllers/model-controller.ts
  packages/api/src/lib/file-processors/image.ts
Due: yarn workspaces @jimmodel/api lint:fix, yarn workspaces @jimmodel/api format

build and push public web docker
  .github/workflows/build_deploy.yml
Due: none

add hard coded production image domain
  packages/public-web/next.config.js
Due: none

remove image slider in hero
  packages/public-web/app/_components/hero.tsx
  packages/public-web/app/_components/index.css
Due: none
